// @use '../styles/global.scss' as *;
@use '/src/general_styles/global.scss' as *;
@use 'src/general_styles/variables' as *;

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($primary-color, 0.5);
    // height: max-content;
}

.menu{
    width: min-content;
    box-sizing: border-box;
    position: relative;
    height: auto;

 >ul{
    width: max-content;
    // height: 100%;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    position: relative;
    gap: 15px;
    margin: 0;
    padding: 0;
    >li{
        list-style-type: none;
        
        >a{
            @include paragraph-text;
            text-decoration: none;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 50px;
            height: 75px;
            transition: all .1s ease;
            width: max-content;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                background-color: $primary-color;
                transition: all .4s ease;
            }
            &:focus, &:hover{
                color: black;
                &::after{
                    transform: scaleX(1);
                }
            }
        }
    }
 }
}

.entrance_mode{
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo_header{

    @include semi-text;
    font-size: $font-medium;
    display: flex;
    gap: 6px;
    align-items: center;
    width: min-content;

    >img{
        // aspect-ratio: 1/1;
        width: 45px;
        height:fit-content;    }
}

.cart_header {
    width: min-content;
    position: relative;
    >button{
        border: none;
        color: transparent;
        background-color: transparent;
        position: relative;
        z-index: 1;
        cursor: pointer;
        >img{
            position: relative;
            z-index: 2;
        }

        >.quantity_cart{
        color: $action-color;
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;
        font-size: 10px;
        text-align: center;
        margin: 0;
        display: block;
        background: $primary-color;
        border-radius: 100%;
        width: 12px;
        aspect-ratio: 1/1;
        &::before{
            content: "";
            background-color: transparent;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border: 4px solid rgb(255, 255, 255);
            border-radius: 50%;
            transform: translate(-20%, -20%);
        }
        }

    }

}

.login{
        display: flex;
        justify-content: center;
        width: 105px;
        height: 35px;
        gap: 2%;
        align-items: center;
        // padding-inline: 10%;
        text-decoration: none;
        border-radius: $border-radius;
        border: none;
        background-color: $primary-color;
        @include paragraph-text;
        font-size: $font-small;
        color: $background-color;
        >img{
            width: 20px;
        }

        &:active, &:hover{
            background-color: $hover-color;
        }
    }