@use "/src/general_styles/global.scss" as *;
@use "src/general_styles/variables" as *;

.main_part {
  overflow: hidden;
}

.products_layout {
  display: grid;
  margin-block: $margin-regular;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-small;
  // overflow: hidden;
}

.item_card {
  > * {
    box-sizing: border-box;
    margin: 0;
    line-height: 1;
  }
  margin: $gap-small;
  display: grid;
  position: relative;
  grid-gap: $gap-small/2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  justify-items: flex-start;
  align-items: center;
  grid-template-areas:
    "image image"
    "name name"
    "price color";

  > .image_card {
    grid-area: image;
    position: relative;

    > .setting-button {
      display: flex;
      justify-content: center;
      padding: 0;
      position: absolute;
      width: $icon-size-small;
      height: $icon-size-small;
      aspect-ratio: 1/1;
      border-radius: $border-radius;
      text-decoration: none;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      border: solid $primary-color;
      cursor: pointer;
      bottom: 8%;

      &:hover {
        border: solid $hover-color;

        &.to_cart {
          > .icon_color {
            > * {
              fill: $hover-color;
              stroke: $hover-color;
            }
          }
        }
        &.to_favorite {
          > .icon_color {
            > * {
              stroke: $hover-color;
            }
          }
        }
      }

      &.added:hover {
        background-color: $hover-color;
      }

      &.added {
        background-color: $primary-color;
      }

      > .icon_color {
        width: 80%;
        aspect-ratio: 1/1;
        height: auto;
        > * {
          width: 100%;
          height: 100%;
        }
      }

      &.to_cart {
        right: 22%;
        > .icon_color {
          > * {
            fill: $primary-color;
            stroke: $primary-color;
          }

          > *.added {
            fill: $background-color;
            stroke: $background-color;
          }
        }
      }

      &.to_favorite {
        right: 5%;
        > .icon_color {
          > * {
            fill: transparent;
            stroke: $primary-color;
          }

          > *.added {
            stroke: $background-color;
          }
        }
      }
    }

    > img {
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  > .item_name {
    grid-area: name;
    @include semi-text;
    font-size: $font-small-liquid;
  }
  > .item_price {
    grid-area: price;
    @include bold-text;
    font-size: $font-medium-liquid;
  }

  .item_color {
    margin: 0;
    justify-self: flex-end;
    grid-area: color;
    display: block;
    position: relative;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    border: solid #00000044;
    background-position: center;
    opacity: 0.8;
    box-sizing: border-box;
    z-index: 1;
  }
}
