@use "variables" as *; //виклик змінних
@use "fonts";// виклик шрифтів

@mixin bold-text { //базові стилі для головного тексту
    font-family: $bold-font-family;
    font-weight: $bold-font-weight;
    color: $font-color;
    text-align: left;
} //для виклику @include

@mixin paragraph-text { //базові стилі для параграфу
    font-family: $paragraph-font-family;
    font-weight: $paragraph-font-weight;
    color: $font-color;
    text-align: left;
} //для виклику @include
@mixin semi-text { //базові стилі для параграфу
    font-family: $semi_bold-font-family;
    font-weight: $semi_bold-font-weight;
    color: $font-color;
    text-align: left;
} //для виклику @include

@mixin button-style{
    display: flex;
    justify-content: center;
    width: 105px;
    height: 35px;
    min-width: max-content;
    gap: 2%;
    align-items: center;
    padding: $margin-small;
    text-decoration: none;
    border-radius: $border-radius;
    border: none;
    background-color: $primary-color;
    @include paragraph-text;
    font-size: $font-small;
    color: $background-color;
    > img {
      width: 20px;
    }
  
    &:active,
    &:hover {
      background-color: $hover-color;
    }
}

body{
    margin-inline: $margin-regular;
    margin-block: 0;
    background-color: $background-color;
}

*{
    margin: 0;
    @include paragraph-text;
}