@use "/src/general_styles/global.scss" as *;
@use "src/general_styles/variables" as *;

.render_shop_grid{
    
    display: grid;
    grid-template-columns: 20vw auto;
    width: 100%; 
    // height: 2000px;
    // justify-content: space-between;
     margin-block: $margin-regular;

}